body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-align: center;
  }

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}
  
h2 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #13284b;
    margin-top: 60px;
    margin-bottom: 20px;
}

h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: #555555;
    margin-top: 0;
    margin-bottom: 50px;
  }
